<a href="{{ article.get_absolute_url }}" style="text-decoration:none;">
<div class="card h-100 text-dark">
    {% if article.photo %}
    <img src="{{ article.photo.url }}" class="card-img-top" alt="...">
    {% else %}
    <img src="https://pvp.vkplay.ru/s3/upload/ruescommand/966ad75f3c3fffb06d9c3866542e12d1_1574343363.jpg" class="card-img-top" alt="...">
    {% endif %}
    <div class="card-body d-flex flex-column justify-content-between">
        <span class="small text-danger fw-bold fs-5">{{ article.category }}</span>
        <h5 class="card-title">{{ article.title }}</h5>
        <p class="card-text">{{ article.content|truncatechars:80 }}</p>
        <div class="d-flex justify-content-between">
            <span class="small fw-bold text-primary">{{ article.created_at }}</span>
            <p class="card-text">{{ article.views }} <i class="bi bi-eye"></i></p>
        </div>
    </div>
</div>
</a>